@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Shadows+Into+Light&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

html {
  height: 100svh;
  width: 100%;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 350px) {
    font-size: 0.8rem;
  }
  @media screen and (max-height: 799px) {
    font-size: 0.8rem;
  }
}

body {
  width: 100%;
  height: 100svh;
  margin: 0;
  padding: 0;
  /* NOTE: This background color is mainly to handle status and url bars */
  background-color: #121212;
}

#root {
  height: 100svh;
  width: 100%;
  background-image: url("/bgImage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.92);
}

input {
  outline: none;
  border: none;
}

input:active,
input:focus {
  outline: none;
  border: none;
}
#modal-container {
  position: fixed;
  top: 0;
  height: 0px;
  width: 100%;
}

button {
  opacity: 1;
  transition: all 100ms;
}

button:active {
  opacity: 0.8;
  transition: all 100ms;
}
